{deps, [
        {hierdis, ".*", {git, "git://github.com/nathanaschbacher/hierdis.git", "master"}}
]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {'compile', "c_src/build_deps.sh make"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

{clean_files, ["priv/redis"]}.